* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

nav {
	width: 100%;
	position: fixed;
	background: #CD853F;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}
nav ul li:hover {
	background: #455A64
}
nav ul li a:hover {
	text-decoration: underline;

}

header {
	width: 80%;
	height: 40%;
	float: left;
	background: url('../images/zalazak-sunca2.png');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
	padding-top: 10%;
    margin-left: 10%;
	text-align: center;
	color: #fff;
}
header a {
	padding: 10px 20px;
	background: #607D8B;
	color: inherit;
	border-radius: 3px;
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.33);
		 box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.33);
	font-size: 1.5em;

}
header h1 {
	margin-bottom: 15px;
}

section {
	padding: 5em 10%;
	float: left;
	width: 100%;
}

section h2 {
	text-align: center;
	text-transform: uppercase;
	color: #CD853F;
	font-size: 2em;
	margin-bottom: 2em;
}

section .column {
	width: 33%;
	float: left;
	text-align: center;
}
section p {
	padding: 2em 1em;
	text-align: justify;
}
footer {
	width: 100%;
	float: left;
	background: #CD853F;
	text-align: center;
	color: #fff;
	padding: 10px 0;
}

.senka {
    box-shadow: 0px 0px 30px #505050;
}

.mobile_header {
	display: none;
	background: #455A64;
	text-align: center;
	color: #fff;
	padding: 20px;
}

@media screen and (max-width: 700px) {
	nav { position: initial; }
	header {display: none; }
	nav ul li {	width: 100%;}
	.mobile_header { display: block;	}
	section .column { width: 100%;}
}